---
import HeroLogo from '@/components/HeroLogo.astro'
---

<section class="flex flex-col justify-center items-center">
    <span class="animate-fade-in animate-delay-250 uppercase text-secondary bg-primary px-6 py-1 mb-9 font-medium text-xl">
        Presentación de la
    </span>
    <HeroLogo class="text-primar animate-fade-in-up h-auto w-full md:w-[800px]" />
</section>