<section class="flex flex-col font-medium text-primary gap-y-10 my-32">
    <div class="flex justify-center items-center">
        <a href="https://twitch.tv/ibai" target="_blank" rel="noopener noreferrer"
            class="hover:text-purple-700 hover:scale-125 hover:opacity-70 transition inline-block"
        >
            <img src="./twitch.svg" alt="Logo de Twitch">
        </a>
    </div>

    <div class="grid md:flex-row text-center uppercase gap-x-10 [grid-template-columns:1fr] md:[grid-template-columns:1fr_1.5fr_1fr]">
        <article class="order-2 md:order-1 justify-center items-center text-lg py-10 md:py-20 px-8 md:border-y-2 border-primary">
            <h5>Presentación, pesaje, entrevista y cara a cara</h5>
        </article>

        <article class="order-1 md:order-2 justify-center items-center text-2xl md:text-4xl py-10 md:py-20 px-10 border-y-2 border-primary">
            <h4>
                Síguelo en directo 
                <a href="https://twitch.tv/ibai" target="_blank" rel="noopener noreferrer"
                    class="hover:text-purple-700 hover:scale-110 transition inline-block"
                >
                    twitch.tv/ibai
                </a>
            </h4>
        </article>

        <article class="order-3 justify-center items-center text-lg py-10 md:py-20 px-8 border-y-2 border-primary">
            <h5>Con la presencia de los boxeadores y boxeadoras</h5>
        </article>
    </div>
</section>