<section class="flex flex-col font-medium text-primary gap-y-10 my-32">
    <div class="flex justify-center items-center">
        <a href="https://twitch.tv/ibai" target="_blank" rel="noopener noreferrer"
            class="hover:scale-125 hover:opacity-70 hover:text-purple-700 transition inline-block"
        >
            <img src="./twitch.svg" alt="Logo de Twitch">
        </a>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-3 text-center uppercase gap-x-4">
        <article class="flex justify-center items-center text-lg py-20 px-10 border-y-2 border-primary">
            <h5>Presentación, pesaje, entrevista y cara a cara</h5>
        </article>

        <article class="flex justify-center items-center text-4xl py-20 px-10 border-y-2 border-primary">
            <h4>Síguelo en directo en 
                <a href="https://twitch.tv/ibai" target="_blank" rel="noopener noreferrer"
                    class="hover:text-purple-700 transition hover:scale-110 inline-block"
                >
                    twitch.tv/ibai
                </a>
            </h4>
        </article>

        <article class="flex justify-center items-center text-lg py-20 px-10 border-y-2 border-primary">
            <h5>Con la presencia de los boxeadores y boxeadoras</h5>
        </article>
    </div>
</section>